* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* font-size 62.5% -> default font-size 16
 -> define value of rem unit (1rem = 10px) */
body {
    color: $text-color;
    font-family: "Open sans", sans-serif;
}
#app {
    // overflow-y: hidden;
}
img {
    width: 100%;
    height: auto;
}
// text -style
.title-font {
    font-family: "Montserrat", sans-serif;
}
.primary-color {
    color: $primary-color;
}
.white-color {
    color: $white-color;
}
// button -style
.btn-c {
    // position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    padding: 11px 40px;
    transition: filter 0.3s ease;
    min-width: 170px;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: $white-color;
    border-radius: 5px;
    cursor: pointer;

    &__rounded {
        border-radius: 50px;
    }

    &:hover {
        filter: brightness(80%);
        color: $white-color;
    }
    &__primary {
        background-color: $primary-color;
        color: $white-color;
    }
    &__line {
        border: 1px solid $primary-color;
        color: $primary-color;
    }
    &__line:hover {
        background-color: $primary-color;
        color: $white-color;
    }
    &__rose {
        background-color: $rose-color;
    }
    &--disabled {
        opacity: 0.5;
        cursor: default;
    }
    & + & {
        margin-left: 15px;
    }
}
// .btn-c + .btn-c {
//     margin-left: 15px;
// }

.btn-circle {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    font-size: 1.5rem;
    color: $text-color;
    opacity: 0.9;

    &:hover {
        // opacity: 1;
        filter: brightness(150%);
    }
}
// .btn-c-radius {
//     border-radius: 5rem;
// }
.btn-c__download {
    color: $white-color;
    display: inline-flex;
    align-items: center;
    background-color: $primary-color;
    border-radius: 50px;
    margin: 2.5rem 1rem 0 0;

    & + & {
    margin-left: 0;
    }
    
    i {
        margin-right: 1rem;
        font-size: 2rem;
    }
}
.btn-c__download:hover {
    color: $white-color;
    filter: brightness(90%);
}
