* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* font-size 62.5% -> default font-size 16
 -> define value of rem unit (1rem = 10px) */
body {
    color: $text-color;
    font-family: "Montserrat", sans-serif;
}
#app {
    // overflow-y: hidden;
}
img {
    width: 100%;
    height: auto;
}
.title-font {
    font-family: "Montserrat", sans-serif;
}
.btn {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 35px;
    transition: all 300ms ease-in-out;
}
.btn:hover {
    color: $white-color;
}
.btn-rounded {
    border-radius: 10rem;
}
.btn-type-primary {
    background-color: $primary-color;
    border: $primary-color;
    color: $white-color;
    min-width: 150px;
}
.btn-type-primary:hover {
    color: $white-color;
}
.btn-type-line {
    background-color: $white-color;
    border-color: $primary-color;
    color: $primary-color;
    min-width: 150px;
}
.btn-type-line:hover {
    background-color: $primary-color;
    color: $white-color;
}
.btn-type-rose {
    background-color: $rose-color;
    border-color: $rose-color;
    color: $white-color;
}
.btn-circle {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 10rem; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
}
.btn-symbol {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-play {
    background-color: $white-color;
    font-size: 1.5rem;
    color: $text-color;
}
.btn-download {
    color: $white-color;
    display: inline-flex;
    align-items: center;
    background-color: $rose-color;
    border-radius: 50px;
    i {
        margin-right: 10px;
        font-size: 2rem;
    }
}
.btn-download:hover {
    background-color: $primary-color;
    color: $white-color;
}