
.home-hero {
    background: $gradient-primary-bg;
    &__img {
        margin-bottom: 10rem;
    }
}
.home-head {
    color: $white-color;
    
    h1 {
        font-size: 4.2rem;
        font-weight: 530;
        line-height: 1.25;
    }
    p {
        font-size: 1.8rem;
        margin: 0;
    }
    &__btn-control {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }
    &__btn-play{
        span {
            margin-left: 1rem;
        }
    }

    &__counter-info {
        margin-top: 2rem;
        .counter-item {
            display: flex;
            align-items: center; 
            padding: 1rem 0;

            &__counter {
                margin-right: 1.4rem;
                span {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.3rem;
                }
            }
        }
        i {
            font-size: 1.5rem;
        }
    }
}
.card-info {
    border: 1px solid $border-color;
    box-shadow: $shadow-card-primary;
    
    &__body {
        padding: 2.5rem;
        color: $text-color; 

    }
    &__icon {
        font-size: 4rem;
        color: $primary-color;
    }
    &__content {
        h5 {
            font-size: 3rem;
            font-weight: 550;
            color: $title-text-color;
        }
        p {
            font-size: 1.6rem;
            margin: 1rem 0 0; 
        }
    }
}
.content-list {
    color: $text-color;
    font-size: 1.4rem;
    line-height: 1.7; 

    &__title {
        font-size: 3rem;
    }
    &__text {
        margin: 2.5rem 0;
    }
    &__list {
        list-style-type: none;
        li {
            margin: 1.5rem 0;
            display: flex;
            align-items: baseline;
        }
        i {
            color: $primary-color;
            margin-right: 1.4rem;
            font-size: 1rem;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-around;
    }
}
.counter-info {
    text-align: center;
    margin: 2.5rem 0;
    &__number {
        font-size: 2.5rem;
        color: $primary-color;
        font-weight: 550;
    }
    &__text {
        margin: 0;
    }
}
.content-bg {
    &__title {
        font-size: 3rem;
        font-weight: 550;
    }
    &__text {
        font-size: 1.2rem;
    }
    &__download {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 2rem;

        .btn-download {
            margin: 1rem 0;
        }
    }
}